@import '~antd/dist/antd.css';

#root {
  height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  position: absolute;
}
::-webkit-scrollbar-thumb {
  background-color: #164e81;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ddd;
}
